*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
img{
    margin-left: 175px;
    
    margin-top: 50px;
    box-shadow: 0 80px 100px 0 rgba(0,0,0,0.2);
}
h1{
    margin-left: 500px;
    margin-top: 100px;
    letter-spacing: 5px;
    color: white;
    font-family: comic sans ms,cursive;
    font-size: 40px;
}
p{
    margin-left: 1025px;
    margin-top: 50px;
    color: white;
    margin-bottom: 10px;
    line-break: normal;
}
a h6 {
    margin-left: 850px;
    position: relative;
    line-height: 100px;
}
body{
    /*background: linear-gradient(to right, #0B0101, #5C5A5A);*/
    background-image: url("image/resume_1.jpg");
    
  background-repeat: no-repeat;
  background-size: 1500px 1600px;
}