@import
url('https://fonts.googleapis.com/css2?family=Alfa+Slab+one&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
ul{
    list-style: none;
}
body{
    background-image: url("image/indeximage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    diplay : flex;
    
}
.header{
    position: relative;
    weight: 100%;
    height: 100vh;
    
}
.header .details{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.header .botton ul{
    margin-left: 450px;
}
.header .botton ul li{
    display: inline-block;
    margin-left: 40px;
    align-items: center;
    cursor: pointer;
    
    color: black;

    
}
.header .botton ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 50px; 
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: candara, sans-serif;
    
    
}

.header .contact  ul li {
    margin-left: 1300px;
   color: white;
    font: Times new roman;
    
}
.header .contact h3{
    position: relative;
    margin-left: 20px;
    font-family: candara;
    font-size: 20px;
}
.header .contact h3 span{
    font-family: 'copperplate gothic';
    position: relative;
    font-style: bold;
    display: inline-block;
    color: lightgrey;
}
.header .name{
    color: lightcyan;
    margin-top: 100px;
    margin-left: 900px;
    font-size: 35px;
}
.header .my{
    position: relative;
    margin-left: 900px;
    font-size: 60px;
    color: white
}
.my, .my span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.my span { display: inline-block }

.my { animation-name: my }
@keyframes my {
    from {
        opacity: 100;
        transform: translateY(100%);
    }
    to { opacity: 10 }
}


.header .name{
    position: relative;
    -webkit-box-reflect: below -20px liner-gradient(transparent,rgba(0,0,0,.2));
    font-size: 60px;
}
.header .name span{
    font-family: 'Baloo Thambi', cursive;
    
    display: inline-block;
    color: white;
}
.name> span{
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  0%, 100% {
    color: #FFF;
    text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
  }
  
  10%, 90% {
    color: #111;
    text-shadow: none;
  }
}

.name> span:nth-child(2) {
  animation-delay: 0.25s;
}

.name > span:nth-child(3) {
  animation-delay: 0.5s;
}

.name > span:nth-child(4) {
  animation-delay: 0.75s;
}

.name > span:nth-child(5) {
  animation-delay: 1s;
}

.name > span:nth-child(6) {
  animation-delay: 1.25s;
}

.name > span:nth-child(7) {
  animation-delay: 1.5s;
}
.name > span:nth-child(8) {
  animation-delay: 1.5s;
}

@keyframes span{
    0%,80%{
        transform: rotateY(360deg)
    }
}
p{
    color: white;
    margin-left: 500px;
    line-height: 10px;
    margin-top: -20px;
}












@media (max-width: 768px){
    .header{
    position: relative;
    weight: 100%;
    height: 100vh;
    
}
.header .details{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.header .botton ul{
    margin-left: 50px;
}
.header .botton ul li{
    display: inline-block;
    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    
    color: black;

    
}
.header .botton ul li a{
    color: white;
    font-size: 10px;
    font-weight: 50;
    letter-spacing: 5px;
    margin-left: 10px; 
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: candara, sans-serif;
    
    
}

.header .contact  ul li {
    margin-left: 200px;
    color: white;
    font: Times new roman;
    font-size: 5px;
    margin-top: -20px;
    
}
.header .contact h3{
    position: relative;
    margin-left: 2px;
    font-family: candara;
    font-size: 5px;
}
.header .contact h3 span{
    font-family: 'copperplate gothic';
    position: relative;
    font-style: bold;
    display: inline-block;
    color: lightgrey;
}
.header .name{
    color: lightcyan;
    margin-top: 100px;
    margin-left: 80px;
    font-size: 50px;
}
.header .my{
    position: relative;
    margin-left: 90px;
    font-size: 25px;
    color: white
}
p{
    color: white;
    margin-left: 10px;
    font-size: 5px;
    margin-top: -10px
}
body{
    background-image: url("image/mobileindeximage.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

}

@media (min-width: 768px)and (max-width: 1000px){
    .header{
    position: relative;
    weight: 100%;
    height: 100vh;
    
}
.header .details{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.header .botton ul{
    margin-left: 300px;
}
.header .botton ul li{
    display: inline-block;
    margin-left: 5px;
    align-items: center;
    cursor: pointer;
    
    color: black;

    
}
.header .botton ul li a{
    color: white;
    font-size: 20px;
    font-weight: 50;
    letter-spacing: 5px;
    margin-left: 10px; 
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: candara, sans-serif;
    
    
}

.header .contact  ul li {
    margin-left: 650px;
    color: white;
    font: Times new roman;
    font-size: 12px;
    margin-top: -20px;
    
}
.header .contact h3{
    position: relative;
    margin-left: 2px;
    font-family: candara;
    font-size: 15px;
}
.header .contact h3 span{
    font-family: 'copperplate gothic';
    position: relative;
    font-style: bold;
    display: inline-block;
    color: lightgrey;
}
.header .name{
    color: lightcyan;
    margin-top: 100px;
    margin-left: 500px;
    font-size: 50px;
}
.header .my{
    position: relative;
    margin-left: 500px;
    font-size: 25px;
    color: white
}
p{
    color: white;
    margin-left: 300px;
    font-size: 5px;
    margin-top: -10px
}
body{
    background-image: url("image/mobileindeximage.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

}

@media  (min-width: 1001px) and (max-width: 1200px){
    .header{
    position: relative;
    weight: 100%;
    height: 100vh;
    
}
.header .details{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.header .botton ul{
    margin-left: 450px;
}
.header .botton ul li{
    display: inline-block;
    margin-left: 40px;
    align-items: center;
    cursor: pointer;
    
    color: black;

    
}
.header .botton ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 50px; 
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: candara, sans-serif;
    
    
}

.header .contact  ul li {
    margin-left: 1300px;
   color: white;
    font: Times new roman;
    
}
.header .contact h3{
    position: relative;
    margin-left: 20px;
    font-family: candara;
    font-size: 20px;
}
.header .contact h3 span{
    font-family: 'copperplate gothic';
    position: relative;
    font-style: bold;
    display: inline-block;
    color: lightgrey;
}
.header .name{
    color: lightcyan;
    margin-top: 100px;
    margin-left: 900px;
    font-size: 35px;
}
.header .my{
    position: relative;
    margin-left: 900px;
    font-size: 60px;
    color: white
}
.my, .my span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.my span { display: inline-block }

.my { animation-name: my }
    
}




@media  (min-width: 1280px){
    body{
        background-image: url("image/indeximage.jpg");
    }
    
.header{
    position: relative;
    weight: 100%;
    height: 100vh;
    
}
.header .details{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.header .botton ul{
    margin-left: 450px;
}
.header .botton ul li{
    display: inline-block;
    margin-left: 40px;
    align-items: center;
    cursor: pointer;
    
    color: black;

    
}
.header .botton ul li a{
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-left: 50px; 
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-family: candara, sans-serif;
    
    
}

.header .contact  ul li {
    margin-left: 1300px;
   color: white;
    font: Times new roman;
    
}
.header .contact h3{
    position: relative;
    margin-left: 20px;
    font-family: candara;
    font-size: 20px;
}
.header .contact h3 span{
    font-family: 'copperplate gothic';
    position: relative;
    font-style: bold;
    display: inline-block;
    color: lightgrey;
}
.header .name{
    color: lightcyan;
    margin-top: 100px;
    margin-left: 900px;
    font-size: 35px;
}
.header .my{
    position: relative;
    margin-left: 900px;
    font-size: 60px;
    color: white
}
.my, .my span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.my span { display: inline-block }

.my { animation-name: my }
    
}





